.detail-container{
    width:70%;
    margin: auto;

}
.detail.breadcrumb-container{
    text-align: left;
    font-size: 12px;
    color: rgb(67, 67, 67);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
}
.detail li:after {
    content: ">";
    color: dimgray;
    padding: 15px;
  }

  .detail li:last-of-type::after {
    content: none;
}
.detail li:last-of-type {
    font-weight: bold;
}

.detail.product-container{
    background-color: white;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 2px;
}

.detail.top-container{
    display: flex;
    width: 100%;
}

.detail.product-image-container{
    width: 70%;
    height: auto;
    padding-top: 20px;
}
.product-image.detail{
    width:100%;
    height: auto;
}
.detail.info-container{
    width: 30%;
    text-align: left;
    margin-top: 15px;
}
.detail.product-title{
    font-size: 20px;
    font-weight: bold;
}
.detail.buy-btn{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: dodgerblue;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    margin-top: 25px;
    cursor: pointer;
}

.detail.condition-sold-quantity{
    text-transform: capitalize;
    font-size: 10px;
    margin-top: 10px;
}

.detail.product-price{
    font-size: 35px;
    font-weight: 500;
}
.detail.price-decimals{
    font-size: 20px;
}
.detail.description-container{
    text-align: left;
    width: 70%;
}
.detail.description-title{
    font-size: 25px;
}

.detail.description{
    font-size: 15px;
    color: dimgray;
}
.error-image{
    width: 100%
}

img.error-image{
    width: 100%;
}


@media (max-width: 800px){
    .detail-container{
        width:95%;
    }
    .detail.product-container{
        padding: 0;
        padding-bottom: 5%;
    }
    .detail.top-container{
        display: flex;
        flex-direction: column;
    }
    .detail.product-image-container{
        width: 100%;
    }
    .detail.info-container{
        width: 90%;
    }
    .detail.condition-sold-quantity{
        font-size: 15px;
    }
    .detail.product-title{
        font-size: 25px;
    }
    .detail.product-price{
        font-size: 40px;
    }
    .detail.detail.price-decimals{
        font-size: 20px;
    }
    .detail.description-container{
        width: 90%;
        margin: 5%;
    }
}   

