a{
    text-decoration: none;
}
.body{
    margin-top: 50px;
}

.main-category{
    width: 70%;
    text-align: left;
    font-size: 12px;
    margin: auto;
    color: dimgray;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-image{
    height: 150px;
}

.item-container{
    margin: auto;
    width: 70%;
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    align-items: flex-start;

}

 ul{
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.info-container{
    margin-left: 20px;
    width:100%;
    margin-top: 20px;
}
.location-container{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 70px;
    font-size: 12px;
    color: gray;
}
.price-container{
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
}
.price-decimals{
    font-size:15px;
    vertical-align: text-top;
}

.free-shipping{
    margin-left: 10px;
}
.title-container{
    text-align: left;
    width: 35%;
    text-decoration: none;
    font-size: 18px;
}
